<div class="accordion">
  {% for item in doc.accordion_items %}
    <div class="accordion__item js-accordion-item">
      <button class="accordion__btn js-accordion-toggle">
        <h3 class="accordion__label">{{item.label}}</h3>
        <svg class="accordion__expand-icon" viewBox="0 0 15 15"><g><polygon transform="translate(7.500000, 7.500000) scale(1, -1) translate(-7.500000, -7.500000) " points="7.5 0 15 15 0 15"/></g</svg>
      </button>
      <div class="accordion__content js-accordion-content"
          aria-expanded="false">
        {% for info in item.info %}
          <div class="accordion__info">
            <div class="accordion__date">{{info.date}}</div>
            {% if info.title %}
              <div class="accordion__title">{{info.title}}</div>
            {% endif %}
            {% if info.subtitle %}
              <div class="accordion__subtitle">{{info.subtitle}}</div>
            {% endif %}
            {% if info.bullet_points %}
              <ul class="accordion__bullet-points">
                {% for point in info.bullet_points %}
                  <li class="accordion__bullet-point">{{point|safe}}</li>
                {% endfor %}
              </ul>
            {% endif %} <!-- end if info.bullet_points -->
            {% if info.paragraphs %}
              {% for p in info.paragraphs %}
                <p class="accordion__paragraph">{{p|safe}}</p>
              {% endfor %} <!-- end for info.paragraphs -->
            {% endif %} <!-- end if info.paragraphs -->
          </div> <!-- end .accordion__info -->
        {% endfor %} <!-- end for item.info -->
      </div> <!-- end .accordion__content -->
    </div> <!-- end .accordion__item -->
  {% endfor %} <!-- end for doc.accordion_items -->
</div> <!-- end .accordion -->
