<div class="accordion">
  {% for item in doc.accordion_items %}
    <div class="accordion__item js-accordion-item">
      <button class="accordion__btn js-accordion-toggle">
        <h3 class="accordion__label">{{item.label}}</h3>
        <svg class="accordion__expand-icon" viewBox="0 0 15 15"><g><polygon transform="translate(7.500000, 7.500000) scale(1, -1) translate(-7.500000, -7.500000) " points="7.5 0 15 15 0 15"/></g</svg>
      </button>
      <div class="accordion__content js-accordion-content"
          aria-expanded="false">
        {% if item.timeline %}
          {% for moment in item.timeline %}
            <div class="accordion__timeline">
              <div class="accordion__date">{{moment.date}}</div>
              <div class="accordion__title">{{moment.title}}</div>
              <div class="accordion__subtitle">{{moment.subtitle}}</div>
              {% if moment.bullet_points %}
                <ul class="accordion__bullet-points">
                  {% for point in moment.bullet_points %}
                    <li class="accordion__bullet-point">{{point}}</li>
                  {% endfor %}
                </ul>
              {% endif %} <!-- end if moment.bullet_points -->
              {% if moment.paragraphs %}
                {% for p in moment.paragraphs %}
                  <p class="accordion__paragraph">{{p}}</p>
                {% endfor %} <!-- end for moment.paragraphs -->
              {% endif %} <!-- end if moment.paragraphs -->
            </div> <!-- end .accordion__timeline -->
          {% endfor %} <!-- end for item.timeline -->
        {% endif %} <!-- end if timeline -->
      </div> <!-- end .accordion__content -->
    </div> <!-- end .accordion__item -->
  {% endfor %} <!-- end for doc.accordion_items -->
</div> <!-- end .accordion -->
