<div class="hero">
  <div class="hero__content">
    <h2 class="hero__title"
        {% if doc.hero.title_indent %}
          style="text-indent: {{doc.hero.title_indent}};"
        {% endif %}>
      {{doc.title}}
    </h2>
    {% if doc.hero.image %}
      <div class="hero__image"
          style="background-image: url({{g.static('/src/img/%(src)s'|format(src=doc.hero.image)).url.path}});">
      </div>
    {% endif %}
    <p class="hero__paragraph">{{doc.hero.paragraph|safe}}</p>
  </div>
</div>
