<div class="hero"
    {% if doc.hero.bg %}
      style="
        background-image: url({{g.static('/src/img/%(bg)s'|format(bg=doc.hero.bg)).url.path}});
        background-color: {{doc.hero.bg_color}};
      "
    {% endif %}>
  <div class="hero__content">
    <h2 class="hero__title"
        {% if doc.hero.title_indent %}
          style="text-indent: {{doc.hero.title_indent}};"
        {% endif %}>
      {{doc.title}}
    </h2>
    <p class="hero__paragraph">{{doc.hero.paragraph}}</p>
  </div>
</div>
