<div class="masthead-offset"></div>
<header class="masthead masthead--reversed">
  <div class="masthead__max-width">
    <h1 class="masthead__title masthead__title--reversed">
      <a class="masthead__title-link masthead__title-link--reversed" href="/">{{podspec.title}}</a>
    </h1>
    <button class="masthead__menu-btn masthead__menu-btn--reversed js-close-mobile-nav">
      <svg class="masthead__menu-icon masthead__menu-icon--reversed" viewBox="0 0 30 30" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.8"><g transform="translate(-270.000000, -15.000000)"><g><g transform="translate(270.000000, 15.000000)"><rect stroke-opacity="0.8" stroke="#000000" x="0.5" y="0.5" width="29" height="29" rx="3"/><rect fill-opacity="0.8" fill="#000000" transform="translate(15.000000, 15.500000) rotate(45.000000) translate(-15.000000, -15.500000) " x="5" y="15" width="20" height="1"/><rect fill-opacity="0.8" fill="#000000" transform="translate(15.000000, 15.500000) rotate(-45.000000) translate(-15.000000, -15.500000) " x="5" y="15" width="20" height="1"/></g></g></g></g></svg>
    </button>
  </div>
</header>
