<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{doc.title}} | {{podspec.title}}</title>
    <meta content="Michael Misciagna" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{g.static('/src/img/favicon-48x48.png').url.path}}" rel="icon" sizes="48x48">
    <link href="{{g.static('/src/img/favicon-72x72.png').url.path}}" rel="icon" sizes="72x72">
    <link href="{{g.static('/src/img/favicon-96x96.png').url.path}}" rel="icon" sizes="96x96">
    <link href="{{g.static('/src/img/favicon-144x144.png').url.path}}" rel="icon" sizes="144x144">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{g.static('/dist/css/main.min.css').url.path}}" rel="stylesheet">
  </head>
  <body>
    {% import '/views/macros.html' as macros %}
    {% include "/views/partials/header.html" %}
    {% include "/views/partials/mobile-nav.html" %}
    <main class="main">
      {% block page_content %}{% endblock %}
    </main>
    {% include "/views/partials/footer.html" %}
    <script src="{{g.static('/dist/js/main.min.js').url.path}}"></script>
  </body>
</html>
