<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Michael M.</title>
    <meta content="Michael Misciagna" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- <link rel="shortcut icon" href=""> -->
    <link href="{{g.static('/dist/css/main.min.css').url.path}}" rel="stylesheet">
  </head>
  <body>
    <main class="main-content">
      {% block page_content %}{% endblock %}
    </main>
    <script src="{{g.static('/dist/js/main.min.js').url.path}}"></script>
  </body>
</html>
