{% extends "/views/base.html" %}

{% block page_content %}
  <div class="hero">
    <div class="hero__content">
      <div class="hero__copy">{{doc.hero.text|safe}}</div>
    </div>
  </div>
  <div class="block">
    <div class="block__content">
      <div class="block__nav" role="tablist">
        {% for page in g.docs('pages') if not page.order == 1 %}
          <a class="block__nav-item"
              role="tab"
              href="{{page.url.path}}">
            {{page.title}}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
