{% extends "/views/base.html" %}

{% block page_content %}
  {% for section in doc.sections %}
    <section class="section">
      {% if section.headline %}
        <h2 class="section__headline">
          {{ macros.drop_cap(section.headline) }}
        </h2>
      {% endif %}

      {% if section.img %}
        <img src="{{g.static('/src/img/{}'.format(section.img.src)).url.path}}"
            alt="{{section.img.alt}}"
            border=0>
      {% endif %}

      {% if section.title %}
        <h3 class="section__title">
          {{ section.title }}
        </h3>
      {% endif %}

      {% if section.paragraphs %}
        {% for p in section.paragraphs %}
          {% if p.subtitle %}
            <h4 class="section__subtitle">
              {{ p.subtitle }}
            </h4>
          {% endif %}
          <p class="section__paragraph">
            {{ p.text|safe }}
          </p>
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endblock %}
