.accordion {
  &__item {
    &--is-expanded {
      .accordion__expand-icon {
        transform: rotate(180deg);
        fill: $color-black-80;
      }
    }
  }

  &__btn {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid $color-black-80;
    text-align: left;
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;

    &:hover {
      .accordion__expand-icon {
        fill: $color-black-80;
      }
    }
  }

  &__label {
    color: $color-black-80;
    line-height: $line-height-md;
    font-size: $font-size-lg;
    font-weight: $font-weight-x-light;
    margin: 0;
  }

  &__expand-icon {
    fill: $color-black-25;
    width: $icon-sm;
    height: $icon-sm;
    margin-left: $half-buffer;
    transition: fill $ease-out, transform $ease-out;
  }

  &__content {
    overflow: hidden;
    background: $color-white-60;
    padding: 0 $half-buffer;
    transition: max-height $ease-in;

    @include tablet-up {
      padding: 0 $buffer;
    }
  }

  &__timeline {
    margin: $half-buffer 0;

    @include tablet-up {
      margin: $buffer 0;
    }
  }

  &__date {
    font-size: $font-size-md;
    color: $color-black-60;
    line-height: $line-height-md;
  }

  &__title {
    font-size: $font-size-md;
    color: $color-black-80;
    line-height: $line-height-sm;
  }

  &__subtitle {
    color: $color-black-80;
    line-height: $line-height-sm;
    padding: 0 $quarter-buffer;
    background: $color-black-15;
    display: inline-block;
  }

  &__bullet-points {
    padding-left: $half-buffer;
    margin: 0;
    list-style-position: outside;
  }

  &__bullet-point,
  &__paragraph  {
    margin: $quarter-buffer 0;
    line-height: $line-height-reg;
    max-width: $hero-copy-max-width;
  }
}
