.accordian {
  &__item {
    &--is-expanded {
      .accordian__expand-icon {
        transform: rotate(180deg);
      }

      .accordian__expand-icon {
        fill: $color-black-80;
      }
    }
  }

  &__btn {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid $color-black-80;
    text-align: left;
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;

    &:hover {
      .accordian__expand-icon {
        fill: $color-black-80;
      }
    }
  }

  &__label {
    color: $color-black-80;
    line-height: $line-height-md;
    font-size: $font-size-lg;
    font-weight: $font-weight-x-light;
    margin: 0;
  }

  &__expand-icon {
    fill: $color-black-25;
    width: $icon-sm;
    height: $icon-sm;
    margin-left: $half-buffer;
    transition: fill $ease-out, transform $ease-out;
  }

  &__content {
    overflow: hidden;
    transition: max-height $ease-out;
  }

  &__timeline-date {
    font-size: $font-size-md;
    color: $color-black-60;
    line-height: $line-height-md;
    margin-top: $quarter-buffer;
  }

  &__timeline-title {
    font-size: $font-size-md;
    color: $color-black-80;
    line-height: $line-height-sm;
    margin-bottom: $half-buffer;
  }

  &__timeline-bullet-points {
    padding-left: $half-buffer;
    margin: 0;
    list-style-position: outside;
  }

  &__timeline-bullet-point {
    margin: $quarter-buffer 0;
    position: relative;
  }
}
