.columns {
  padding: 0 $half-buffer;

  @include tablet-up {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 0 $half-buffer;
    margin: $buffer 0;
    page-break-inside: avoid;
    break-inside: avoid;

    @include tablet-up {
      width: 50%;
      margin: $half-buffer 0;
    }

    &--no-top-margin {
      @include tablet-up {
        margin-top: 0;
      }
    }
  }

  &__item-title {
    font-size: $font-size-lg;
    font-weight: $font-weight-light;
    color: $color-black-80;
    line-height: $line-height-x-sm;
    margin: 0 0 $quarter-buffer;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    @include sm-desktop-up {
      font-weight: $font-weight-x-light;
      font-size: $font-size-x-lg;
    }
  }
}
