// Colors.
$color-primary: #607d8b;
$color-primary-dark: #263238;
$color-primary-light: #cfd8dc;
$color-accent: #f4511e;
$color-white: #fff;

// Font.
$font-size-headline: 28px;
$font-size: 16px;

$font-weight-sb: 600;
$font-weight-r: 400;

$line-height: 1.75;

$font: #{$font-weight-r} #{$font-size}/#{$line-height} 'Source Serif Pro', serif;

// Buffers and dimensions.
$buffer: 24px;
$buffer-half: $buffer / 2;
$buffer-2: $buffer * 2;

$header-height: 50px;
$max-width: 1200px;
