.flex {
  display: flex;
  padding: $masthead-height * 2 0;

  .block {
    margin: $half-buffer 0;

    &--top {
      margin-top: 0;
    }

    &--bottom {
      margin-bottom: 0;
    }
  }

  &--column {
    flex-direction: column;
  }

  &--center {
    align-items: center;
    justify-content: center;
  }
}
