html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  background: url(/img/bg-pattern.jpg);
  color: $color-primary;
  font: $font;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: $color-accent;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  -webkit-appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.main {
  flex: 1;
  padding: 0 $buffer-3;
}

.main,
.footer {
  a {
    display: inline-block;
    position: relative;

    &::after {
      background: $color-accent;
      bottom: 0;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      transition: all .15s ease-out;
      width: 0
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
}
