html {
  box-sizing: border-box;
}

body {
  color: $font-color;
  font: $font;
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &.no-scroll {
    overflow: hidden;
  }
}

body,
html {
  background-color: $color-white;
  background-image: url(/img/wood-pattern.png);
  background-blend-mode: luminosity;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
  color: $color-white-80;
  background: $color-black-80;
}

::selection {
  color: $color-white-80;
  background: $color-black-80;
}

a {
  text-decoration: none;
  color: $color-black-80;
  border-bottom: 1px solid transparent;
  transition: border-color $ease-out;

  &:hover {
    border-color: inherit;
  }
}

p {
  margin: $half-buffer 0;
}

.main-content {
  flex: 1;
  padding-bottom: $masthead-height;
}
