html {
  box-sizing: border-box;
}

body {
  background: $color-bg;
  color: $font-color;
  font: $font;
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
  color: $color-black-80;
  background: $color-yellow-80;
}

::selection {
  color: $color-black-80;
  background: $color-yellow-80;
}

.main-content {
  max-width: $breakpoint-lg-desktop;
  margin: 0 auto;
}
