.hero {
  background: url(/img/low-contrast-linen.jpg) repeat;
  color: $color-white;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    transition: border-color $ease-out;

    &:hover {
      border-color: transparent;
    }
  }

  &__content {
    max-width: $max-width;
    margin: 0 auto;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    line-height: $font-line-height-lg;
    padding: $buffer;

    @include tablet-up {
      line-height: $font-line-height-sm;
      padding: $twice-buffer $buffer;
      font-size: $font-size-x-lg;
    }
  }

  &__copy {
    max-width: $hero-content-width;
    margin: 0 auto;

    @include tablet-up {
      padding: 0 $buffer;
    }
  }
}
