.masthead-offset {
  background: $color-black;
  height: $masthead-height;
}

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-black;

  &--reversed {
    background: $color-white;
    border-bottom: 1px solid $color-black-80;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $masthead-height;
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $buffer;

    @include tablet-up {
      padding-right: 0;
    }
  }

  &__title {
    font-size: $font-size-md;
    font-weight: $font-weight-light;
    line-height: 1;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
  }

  &__title-link {
    color: $color-white;
    text-decoration: none;

    &--reversed {
      color: $color-black-80;
    }
  }

  &__menu-btn {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    line-height: 1;

    @include tablet-up {
      display: none;
    }
  }

  &__menu-icon {
    width: 30px;
    height: 30px;
  }

  &__nav {
    display: none;
    align-items: center;
    justify-content: flex-end;

    @include tablet-up {
      display: flex;
    }
  }

  &__nav-item {
    display: inline-block;
    line-height: $masthead-height;
    margin-left: $half-buffer;
    padding: 0 $buffer;
    text-decoration: none;
    color: $color-white-80;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color $ease-out;
    font-size: $font-size-x-sm;

    &--is-active {
      background: $color-white-15;
      color: $color-white;
    }

    &:hover {
      color: $color-white;
    }
  }
}
