.modals {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: all .3s ease-out;

  @include sm-desktop-up {
    padding: $half-buffer;
  }

  &--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 10000;

    .modal {
      transform: scale(1);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: $color-black-80;
    width: 100%;
    height: 100%;

    &--is-active {
      opacity: 1;
      visibility: visible;
      z-index: 10000;

      .modal {
        transform: scale(1);
      }
    }
  }
}

.modal {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  transform: scale(0);
  transition: transform .3s ease-out;
  position: absolute;
  left: 0;
  top: 0;

  @include sm-desktop-up {
    position: relative;
    height: auto;
    max-height: 100%;
    max-width: $max-width;
  }

  &__content {
    background: $color-white;
    width: 100%;
    overflow: hidden;
    display: none;

    &--is-active {
      display: block;
    }
  }

  &__close-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: $half-buffer;
    top: $half-buffer;
    padding: 0;

    @include hover {
      .modal__close-icon {
        fill: $color-black-80;
      }
    }
  }

  &__close-icon {
    fill: $color-black-25;
    width: $icon-lg;
    height: $icon-lg;
    transition: fill $ease-out;
  }

  &__title {
    background: $color-white;
    color: $color-black-80;
    border-bottom: 1px solid $color-black-80;
    font-size: $font-size-x-lg;
    font-weight: $font-weight-light;
    line-height: $line-height-x-sm;
    margin: 0;
    padding: $buffer ($half-buffer + $icon-lg + $half-buffer) $buffer $half-buffer;
  }

  &__launch {
    font-size: $font-size-md;
    line-height: $line-height-lg;
    margin: 0 $half-buffer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-black-80;
    transition: fill $ease-out;

    @include tablet-up {
      margin: 0;
    }

    @include hover {
      .modal__launch-icon {
        fill: $color-black-80;
      }
    }
  }

  &__launch-icon {
    width: $icon-sm;
    height: $icon-sm;
    fill: $color-black-60;
  }

  &__sections {
    @include sm-desktop-up {
      display: flex;
    }
  }

  &__section {
    margin: $half-buffer auto;
    padding: 0 $half-buffer;

    @include tablet-up {
      padding: 0;
    }

    @include sm-desktop-up {
      margin: 0;
      padding: $half-buffer;
      width: 50%;
    }

    &--video {
      margin: 0;
      padding: 0;

      @include tablet-up {
        margin: $half-buffer;
      }
    }

    &--details {
      @include tablet-up {
        display: flex;
      }

      @include sm-desktop-up {
        display: block;
      }
    }
  }

  &__section-block {
    margin: $half-buffer 0;
    line-height: $line-height-md;

    @include tablet-up {
      padding: 0 $half-buffer;
      margin-top: 0;
      width: 50%;
    }

    @include sm-desktop-up {
      width: 100%;
    }
  }

  &__details-subtitle {
    font-size: $font-size-md;
    color: $color-black-25;
  }

  &__details-paragraph {
    margin: 0 0 1em;
  }
}
