.section {
  margin: $buffer-6 auto;
  max-width: $max-width;

  &__drop-cap {
    color: $color-accent;
    display: inline-block;
    float: left;
    font-size: 80px;
    line-height: 40px;
    margin-left: -8px;
  }

  &__headline {
    color: $color-primary-dark;
    font-size: $font-size-l;
    font-weight: $font-weight-sb;
    line-height: 1.75em;
    margin: $buffer-3 0;
  }

  &__title {
    border-bottom: 1px solid $color-primary-light;
    border-top: 1px solid $color-primary-light;
    color: $color-primary-dark;
    font-family: $font-stack-sans;
    font-size: $font-size-m;
    line-height: $line-height-xs;
    margin: $buffer-3 0;
    padding: $buffer-1 0;
  }

  &__subtitle {
    color: $color-accent;
    font-family: $font-stack-sans;
    font-size: $font-size-s;
    font-weight: $font-weight-sb;
    letter-spacing: 1px;
    line-height: $line-height-xs;
    margin: $buffer-2 0;
    text-transform: uppercase;

    & + .section__paragraph {
      margin-top: 0;
    }
  }

  &__paragraph {
    margin: $buffer-3 0;

    & + .section__subtitle {
      margin-top: $buffer-5;
    }

    a {
      @include hover-state($color-accent);
    }
  }

  &__figure {
    margin: 0;
    width: 100%;
  }

  &__figure-aspect-ratio {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding-bottom: $aspect-ratio;
    position: relative;
    width: 100%;
  }

  &__figure-caption {
    font-size: $font-size-xs;
    font-style: italic;
    line-height: $line-height-s;
    margin: $buffer-1 0 0;
  }
}
